body {
    margin: 0px;
    padding: 0px;
    /* background-image: url(./media/body.jpg); */
}

:root {
    --accen-color: #FF8500;
}

* {
    font-family: 'Oswald', sans-serif;
}

h1, h2 {
    font-family: 'Indie Flower', cursive;
}

/* header  */

header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('./media/drink_screen.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.card-custom{
    padding: 20px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

/* btn  */

button {
    background-color: var(--accen-color) !important;
    border: 1px solid var(--accen-color) !important;
    border-radius: 3px !important;
}

/* footer */

footer{
    background-color: var(--accen-color);
}

a{
    text-decoration: none;
    transition: 0.4s;
}

i{
    color: white;
}

a:hover{
    transform: scale(1.2);
}